@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@400;700&display=swap');

body {
  margin: 0 2em;
  font-family: 'Gayathri', 'Verdana', sans-serif;
}

ul {
  list-style: none;
}

a:link {
  text-decoration: none;
  color: #30211a;
}

a:visited {
  color:  #30211a;
}

a:hover {
  color: #abab9a; 
}

footer p {
  text-align: center;
  font-size: 0.9em;
}

body {
  background-color: cornsilk;
  color: #30211a;;
}

header {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

li, h2, h1, h3 {
  text-transform: capitalize;
}

.mail {
  padding-left: 30px;
} 

h2 {
  margin: 10px 10px;
}

.active {
  text-decoration: underline;
}

article {
  margin-left: 10px;
}

/* grid properties*/
header ul {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, 320px);
}

body {
  display: grid;
  grid-template-areas: 
  "hd hd hd hd"
  "ma ma ma ma"
  "fo fo fo fo";
  grid-column-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

header {
  grid-area: hd;
}

main {
  grid-area: ma;
}

footer {
  grid-area: fo;
}

section {
  display: grid;
  grid-column-gap: 1em;
  grid-template-columns: 480px 450px 450px; 
  grid-template-rows: min-content min-content; 
}

