@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@400;700&display=swap');

body {
  margin: 0 2em;
  font-family: 'Gayathri', 'Verdana', sans-serif;
}

ul {
  list-style: none;
}

a:link {
  text-decoration: none;
  color: #30211a;
}

a:visited {
  color:  #30211a;
}

a:hover {
  color: #abab9a; 
}

footer p {
  text-align: center;
  font-size: 0.9em;
}

body {
  background-color: cornsilk;
  color: #30211a;;
}

header {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

li, h2, h1, h3 {
  text-transform: capitalize;
}


/* grid properties*/
header ul {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, 320px);
}