@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@400;700&display=swap');

body {
  margin: 0 2em;
  font-family: 'Gayathri', 'Verdana', sans-serif;
}

ul {
  list-style: none;
}

a:link {
  text-decoration: none;
  color: #30211a;
}

a:visited {
  color:  #30211a;
}

a:hover {
  color: #abab9a; 
}

footer p {
  text-align: center;
  font-size: 0.9em;
}

body {
  background-color: cornsilk;
  color: #30211a;;
}

header {
  text-align: center;
}
img {
  max-width: 100%;
  height: auto;
}

li, h2, h1 {
  text-transform: capitalize;
}


aside {
  margin-right: 3em;
}


/* grid properties*/

body {
  display: grid;
  grid-template-areas:
    "hd hd hd hd"
    "fig fig ma ma"
    "as as ma ma"
    "fo fo fo fo";
}

header {
  grid-area: hd;
}

figure {
  grid-area: fig;
}

main {
  grid-area: ma;
}

aside {
  grid-area: as;
}

footer {
  grid-area: fo;
}

/* header layout*/
header ul {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, 320px);
}

/*main layout*/
main {
  display: grid;
  grid-column-gap: 3em;
  grid-template-columns: 450px 400px; 
  grid-template-rows: min-content min-content; 
}

h2 {
  grid-column: 1/ 3;
  margin: 10px 0;
}

 section {
  grid-column: repeat();
  /* margin-left: 10px; */
} 

