@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@400;700&display=swap');

body {
  margin: 0 2em;
  font-family: 'Gayathri', 'Verdana', sans-serif;
}

ul {
  list-style: none;
}

a:link {
  text-decoration: none;
  color: #30211a;
}

a:visited {
  color:  #30211a;
}

a:hover {
  color: #abab9a; 
}

footer p {
  text-align: center;
  font-size: 0.9em;
}

body {
  background-color: cornsilk;
  color: #30211a;;
}

header {
  text-align: center;
}
img {
  max-width: 100%;
  height: auto;
}

li, h2, h1, h3 {
  text-transform: capitalize;
}

aside {
  margin-right: 3em;
}

.grid {
  margin-left: 3em;
}

.active {
  font-weight: 700;
}

section {
  margin-left: 10px;
} 


/* grid properties*/

body {
  display: grid;
  grid-template-areas: 
    "hd hd hd hd"
    "ma ma ma ma"
    "fo fo fo fo";
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

header {
  grid-area: hd;
}

main {
  grid-area: ma;
}


footer {
  grid-area: fo;
}

  main {
  display: grid;
  grid-column-gap: 1em;
  grid-template-rows: min-content;
}  

h2 {
  grid-column: 1/ 3;
  margin: 10px 10px;
}

.grid {
  display: grid;
  grid-column-gap: 1em;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: min-content min-content; 
}

h3 {
  grid-column: 1/ 3;
  margin: 10px 0px;
}

/* header layout*/
header ul {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-evenly;
}

/* media queries */
@media only screen and (max-width: 899px) {
  main {
    display: block;
  }
}

@media only screen and (max-width: 599px) {
  body {
    margin: 0px;
  }
  .grid {
    margin-left: 10px;
  }
  .grid {
    display: block;
  }
  header ul {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
  }
}
